<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DataBase Connection Settings-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/wido?useUnicode=true&#038;useJDBCCompliantTimezoneShift=true&#038;useLegacyDatetimeCode=false&#038;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">wodi</property>
        <property name="hibernate.connection.password">wodi</property>
        <property name="hibernate.current_session_context_class">thread</property>



        <!-- SQL Dialect -->

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


        <!--Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>

        <!--Drop and re-create the database schema on startup  -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class  -->
        <mapping class = "activity.MaActivity"/>
        <mapping class = "activity.GymWorkout"/>
        <mapping class = "activity.BaseActivity"/>
        <mapping class = "activity.BagWorkout"/>
        <mapping class = "activity.MuayThai"/>
        <mapping class = "activity.MMA"/>
        <mapping class = "activity.Bjj"/>
        <mapping class = "activity.DorsiWorkout"/>
        <mapping class = "activity.ShouldersWorkout"/>
        <mapping class = "activity.LegsWorkout"/>
        <mapping class = "activity.TricepsWorkout"/>
        <mapping class = "activity.TrapeziusWorkout"/>
        <mapping class = "activity.BicepsWorkout"/>
        <mapping class = "activity.AbsWorkout"/>
        <mapping class = "activity.AerobicMachineActivity"/>
        <mapping class = "activity.ChestWorkout"/>
        <mapping class = "hr.Indices"/>
        <mapping class = "hr.Address"/>
        <mapping class = "hr.UserWido"/>
        <mapping class = "Login.UserPassword"/>

    </session-factory>
</hibernate-configuration>